.sideBarRespon {
    position: fixed;
    // background-color: #fff;
    width: max-content;
}


.container {
    width: 257px;
}

.icons {
    width: 25px;
}

.title {
    width: 191px;
}

// @media screen and (max-width: 1380px) {

//     .sideBarRespon {
//         zoom: 80%;
//     }
// }

// @media screen and (max-width: 1420px) {
//     .sideBarRespon {
//         zoom: 90%;
//     }
// }
// @media screen and (max-width: 1240px) {
//     .sideBarRespon {
//         zoom: 80%;
//     }
// }


@media screen and (max-width : 1440px) {
    .title {
        display: none;
    }

    .content {
        width: fit-content;
    }

    .icons {
        width: 25px;
        padding: 5 5 5 5;
    }

    .logo {
        display: none;
    }

    .sideBarRespon {
        width: max-content;
    }
    .deskView{
        display: none;
    }
}