.mains {
    background-color: #F6F8FB;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main{
    background-image: url('/assets/waveBg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position: center bottom -200px; 
    width: 100%;
    opacity: 0.9;
}