.container {
    background-color: #FFFFFF;
    padding-top: 90px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 440px;
    grid-template-areas:
        "calculator carrier";
    gap: 0;
}

.calculator {
    grid-area: calculator;
    padding: 20px;
    background-color: #FFFFFF;
}

.carrier {
    grid-area: carrier;
    padding: 20px;
    border-left: solid 1.5px #E5E5E5;
    background-color: #FFFFFF;
}