.container {
    // background-color: #ECEDEE;
    // display: flex;
    // flex-direction: row;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 68px 1fr;
    grid-template-areas:
        "sidebar navbar"
        "sidebar main";
    gap: 0;
}

.sidebar {
    // flex: 1;
    // max-height: max-content;
    // position: fixed;
    // background-color: #ffff;
    height: 100%;
    // overflow: scroll;
    grid-area: sidebar;
}


.nav {
    // width: 100% !important;
    grid-area: navbar;
}

.main {
    grid-area: main;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    height: max-content;
    // flex: 5;
}