@tailwind base;
@tailwind components;
@tailwind utilities;

//  font
@font-face {
    font-family: 'Poppins';
    src: url('../public/font/Poppins/Poppins-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../public/font/Poppins/Poppins-Medium.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../public/font/Poppins/Poppins-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../public/font/Poppins/Poppins-Black.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../public/font/Poppins/Poppins-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../public/font/Poppins/Poppins-ExtraBold.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #ECEDEE;
    font-family: 'Poppins', sans-serif;
}

* {
    font-family: 'Poppins', sans-serif;
}