.adBottom {
    background-image: url('/assets/blue.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 80%;
    
}

.adTop {
    background-image: url('/assets/blue.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 20%;

}

.adContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100vh;
}

.adTopAssited {
    background-image: url('/assets/blue.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 250px;
    // height: 80%;
}