.adBottom {
    background-image: url('/assets/blue.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 100%;
}

.adTop {
    background-image: url('/assets/blue.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;


}

.adContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 90vh;
}