.container {
    background-color: #ECEDEE;
    display: flex;

}

.sidebar {
    flex: 1;
    min-height: 100vh;
    max-height: max-content;
    position: sticky;
    position: fixed;
    z-index: 1;

}

.main {
    flex: 5;
}