@import url('https://fonts.googleapis.com/css2?family=Kulim+Park:wght@300;400&family=Sora:wght@200;300;400;500;600;700&display=swap');

// --- Title
$secondary-title: #49D4AB;
$primary-title: #656D78;

// Color
$background : #FCFCFD;
$black : #292B2D;
$green-dark : #1F5F5B;
$green: #549B79;
$green-light: #49D4AB;
$green-thin : #CFFFE8;
$grey : #A8A8A8;
$white : #F5F5F5;

// Heading
$heading-family : 'Sora', sans-serif;
$heading-weight : 700;
$heading-1 : 64px;
$heading-2 : 48px;
$heading-3 : 40px;
$heading-4 : 34px;
$heading-5 : 25px;

// SubHeading
$subHeading-weight : 600;
$subHeading-1: 22px;
$subHeading-2: 18px;
$subHeading-3: 16px;
$subHeading-family : 'Sora', sans-serif;

// Text
$body-family : 'Kulim Park', sans-serif;
$body-weight : 300;
$body-1 : 18px;
$body-2 : 16px;

$caption-weight : 200;
$caption-1 : 15px;